@charset "utf-8";
/* CSS Document */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0}fieldset,img{border:0}:focus{outline:0}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:normal;font-weight:normal}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}abbr,acronym{border:0;font-variant:normal}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}code,kbd,samp,tt{font-size:100%}input,button,textarea,select{*font-size:100%}body{line-height:1.5}ol,ul{list-style:none}table{border-collapse:collapse;border-spacing:0}caption,th{text-align:left}sup,sub{font-size:100%;vertical-align:baseline}:link,:visited ,ins{text-decoration:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
.clearfix{margin-right:auto;margin-left:auto;*zoom:1}.clearfix:before,.clearfix:after{display:table;content:"";line-height:0}.clearfix:after{clear:both}
b,em,i{font-style:normal;}
body{margin:0;font-family: "Microsoft Yahei",Arial,Tahoma,Helvetica,"SimSun","Hiragino Sans GB",sans-serif;font-size:12px;line-height:20px;color:#333;position:relative;}
button,input,select,textarea,th{background:#fff;font-size:12px;line-height:1.5em;font-family:"Microsoft Yahei",Arial,Tahoma,Helvetica,"SimSun";}
a{color:#333;text-decoration:none;}
a:hover{color:#e95c15;}
a:hover,a:focus{-webkit-transition:color 250ms ease-in 0ms,background-color 250ms ease-in 250ms;-moz-transition:color 250ms ease-in 0ms,background-color 250ms ease-in 250ms;-ms-transition:color 250ms ease-in 0ms,background-color 250ms ease-in 250ms;-o-transition:color 250ms ease-in 0ms,background-color 250ms ease-in 250ms;transition:color 250ms ease-in 0ms,background-color 250ms ease-in 250ms;}
.fl{float:left;}
.fr{float:right;}

body{background:#fff;position:relative;}
/*公用部分*/
.n778{width:778px;}

/*迷你顶部*/
.mini_area{width:100%;height:40px;background:#2b2424;/*border-bottom:1px solid #120f0f;*/}
.mini_area .minibox{width:1200px;height:40px;margin:0 auto;line-height:40px;font-size:14px;color:#fff;}
.mini_area .minibox .leftbox{color:#fff;background:url(../img/logo_s.png) left top no-repeat;padding-left:38px;float:left;}
.mini_area .minibox .rightbox{float:right;}
.mini_area .minibox .rightbox a{display:block;color:#fff;width:78px;text-align:right;margin:0 auto;float:left;}
.mini_area .minibox .rightbox .dl,.mini_area .minibox .rightbox .zc{/* width:54px; */}
.mini_area .minibox .rightbox a:hover{color:#e95c15;}/*#e50012*/

/*顶部*/
.top_area{width:100%;height:82px;background:#fff;border-bottom:1px solid #e3e3e3;}
.top_area .topbox{width:1200px;height:82px;margin:0 auto;line-height:82px;font-color:#474e5d;}
.top_area .topbox .xc_logo{display:block;width:185px;margin-top:14px;height:54px;background:url(../img/logo_l.png) left top no-repeat;float:left;}
.top_area .topbox .xc_tail{width:180px;height:36px;margin-top:24px;margin-left:30px;background:url(../img/xc_tail.png) left top no-repeat;float:left;}
.top_area .topbox .navbox{width:570px;float:right;} 
.top_area .topbox .navbox li{float:left;}
.top_area .topbox .navbox a{display:block;width:72px;height:82px;padding:0 21px;text-align:center;font-size:18px;line-height:82px;border-top:3px solid #fff;}
.top_area .topbox .navbox a.current{color:#e95c15;border-top:3px solid #e95c15;}

.zl_1200{width:1200px;height:500px;margin:0 auto;position:relative;}
/*底部*/
.w_1200{width:1200px;margin:0 auto;}
.footer{width:100%;height:180px;overflow:hidden;padding:40px 0;background:#333;}
.footer .f_logo{display:block;float:left;margin-right:96px;}
.footer dl{width:134px;overflow:hidden;float:left;margin-right:30px;}
.footer dl a{color:#999;}
.footer dl dt{border-bottom:2px solid #575757;padding-bottom:14px;}
.footer dl dt em{color:#ccc;font-size:16px;font-weight:700;}
.footer dl dt span{color:#575757;margin-left:5px;letter-spacing:-1px;}
.footer dl dd{margin-top:10px;font-size:14px;color:#999;line-height:14px;}
.footer dl dd a{display:block;height:14px;line-height:14px;}
.footer dl dd a:hover{color:#fff;}
.footer .ewm{float:right;}
.footer .ewm p{margin-top:5px;}
.footer .ewm div{float:left;color:#575757;font-size:13px;margin-left:22px;text-align:center;}
.footer_bar{height:40px;line-height:40px;background:#000;color:#ccc;}
.footer_bar p{float:left;}
.footer_bar .w_1200 div{width:410px;overflow:hidden;float:right;margin-right:-10px;}
.footer_bar a{padding:0 10px;border-left:1px solid #484848;color:#ccc;margin-left:-1px;}
.footer_bar a:hover{color:#fff;}

.leshu_a_w2 { background:url(../img/w2.gif) no-repeat; width:54px; color:#7b7b7b;border:none; cursor:pointer;}

.container_before {
	max-width: 1280px;
	background-color: #fff;
	margin: 0 auto;
	text-align: left;
	position: relative;
*zoom:1
}
.container_before:before, .container_before:after {
	display: table;
	content: "";
	line-height: 0
}
.container_before:after {
	clear: both
}
.content-wrap {
	width: 100%;
	float: left
}
.content {
	padding: 20px 25px 0;
	min-height: 800px;
	overflow: hidden
}

.jobs_cat {
	position: relative;
	margin: 0;
	line-height: 32px;
	font-size: 20px;
	border-bottom: 2px solid #eee;
	font-weight: normal;
	cursor: pointer
}
.jobs_cat span {
	border-bottom: 2px solid #eee;
	display: inline-block;
	position: relative;
	bottom: -2px;
	margin-right: 60px;
	color: #666
}
.jobs_cat .on, .jobs_cat span:hover {
	border-bottom-color: #01adef;
	color: #000
}

.chioce {
	padding: 0 0 20px;
	border-bottom: 1px dashed #bbb
}
.chioce table {
	vertical-align: top
}
.chioce table * {
	font-size: 14px;
	padding: 1px 2px;
	vertical-align: top
}
.chioce table .sec {
	width: 45px;
	text-align: center;
	margin: 0 4px;
	display: inline-block;
	cursor: pointer
}
.chioce table .on {
	background: #01adef;
	color: #fff
}
.chioce table td {
	padding-top: 10px
}
.chioce table .third span {
	display: inline-block;
	cursor: pointer;
	text-align: center;
	margin: 0 4px;
	padding: 0px 10px;
}
.chioce table .first {
	width: 80px
}
.jobs_info_title {
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	color: #636260;
	background: #F1F1F1;
	border-bottom: 1px dashed #BBB;
}
.jobs_info_title div {
	text-align: center;
	float: left;
}
.jobs_info .el {
	padding: 20px 0;
	border-bottom: 1px dashed #eee;
	height: 95px
}
.jobs_info .el .type {
	height: 70px;
	float: left;
	font-size: 18px;
	padding-top: 0px;
	margin-right: 10px;
	margin-left: 10px;
	color: #959595;
}
.jobs_info .el .type span {
	font-size: 14px;
	color: #959595;
	width: 45px;
	display: block;
	text-align: center;
}
.jobs_info .el .name {
	width: 640px;
	float: left;
	font-size: 16px;
	line-height: 16px;
	color: #000;
	padding-left: 10px;
}
.jobs_info .el .money {
	float: left;
	width: 160px;
	text-align: right;
	margin-left: 70px;
}
.jobs_info .el .money span {
	font-size: 20px;
	font-weight: bold;
	color: #f90;
	width: 80px;
	display: inline-block
}
.jobs_info .el .company {
	float: left;
	width: 250px;
	text-align: left
}
.jobs_info .el .detail {
	width: 100%;
	float: left;
	text-align: center;
	margin-top: 15px;
	color: #999;
	line-height: 14px;
	padding-left: 10px;
}
.jobs_info .el .show_detail {
	font-size: 16px;
	cursor: pointer;
	text-decoration: underline;
	color: #959595;
	display:inline;
	margin-left: 10px;
}
.jobs_info .el .but {
	width: 220px;
	margin: auto;
	display: inline-block;
	float: left
}
.jobs_info .el .but .location {
	float: right
}
.jobs_info .el .but .time {
	width: 105px;
	float: left;
}
@media(max-width:720px) {
.jobs_info .el .company {
	display: block;
	width: 100%;
	margin-bottom: 14px;
	float: none
}
.jobs_info .el .but {
	width: 170px;
	display: block;
	float: none;
	height: 20px;
	margin-top: -16px
}
.jobs_info .el .money {
	width: 150px;
	text-align: right;
	margin-top: -17px
}
.jobs_info .el {
	height: 120px
}
.jobs_info .el .but .location {
	float: none;
	width: 100%;
	display: block;
	text-align: right;
	position: relative;
	top: -40px
}
.jobs_info .el .but .time {
	float: left;
	padding-top: 4px
}
}
.pagenav {
	overflow: hidden;
	text-align: center;
	padding: 20px
}
.pagenav a,.pagenav span, .pagenav .current, .pagenav .page-numbers {
	padding: 4px 12px 3px;
	color: #666;
	display: inline-block;
	background-color: #eee;
	margin: 0 1px;
}
.pagenav .current {
	background-color: #01adef;
	color: #fff
}
.pagenav a:hover {
	background-color: #ccc;
	color: #444
}

.banner{width:100%;height:500px;background:url(../img/banner_01.jpg) top center no-repeat;position:relative;}
.hide{display:none;}
.banner .login_box{width:294px;height:269px;padding:25px 20px 20px 20px;position:absolute;top:92px;right:0;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#4C000000', endColorstr='#4C000000');background:rgba(0,0,0,0.3);}
.banner .reg_box{width:294px;height:350px;padding:25px 20px 20px 20px;position:absolute;top:50px;right:0;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#4C000000', endColorstr='#4C000000');background:rgba(0,0,0,0.3);}
.banner .after_login{width:277px;height:174px;padding:25px 20px 20px 20px;position:absolute;top:140px;right:0;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#4C000000', endColorstr='#4C000000');background:rgba(0,0,0,0.3);}
.zl_1200 h3{font-size:18px;color:#fff;margin-bottom:20px;}
.zl_1200 .box{width:294px;height:36px;background:#fff;margin-bottom:10px;border-radius:4px;color:#999;overflow:hidden;position:relative;float:left;}
.zl_1200 .box span{display:block;width:67px;height:36px;text-align:center;line-height:36px;border-right:1px solid #dcdcdc;float:left;}
.zl_1200 .box div{float:left;width:206px;height:22px;padding:7px 10px;}
.zl_1200 .box input{width:206px;height:22px;line-height:22px;border:none;color:#333;}
.zl_1200 #code_img{position:absolute;top:0;right:0;}
.zl_1200 .box2 .fuxuan{float:left;color:#fff;}
.zl_1200 .box2 .fuxuan input{position:relative;top:2px;margin-right:4px;}
.zl_1200 .box2 .password{float:right;}
.zl_1200 .box2 a{color:#fff;}
.zl_1200 .box2 a:hover{text-decoration:underline;}
.zl_1200 .box3{float:left;}
.zl_1200 .box3 .btn{width:294px;height:36px;background:#7ecef4;color:#fff;text-align:center;line-height:36px;border:none;border-radius:4px;font-size:18px;margin-top:10px;cursor:pointer;}
.zl_1200 .box3 .btn:hover{background:#76c0e3;}
.zl_1200 .box3 a{width:294px;color:#fff;margin-top:10px;float:left;}
.zl_1200 .box3 a:hover{text-decoration:underline;}

.reg_box .fuxuan{color:#fff;}
.reg_box .fuxuan input{position:relative;top:2px;margin-right:5px;}
.reg_box .fuxuan a{width:120px;float:right;margin-top:0;position:absolute;top:0;_top:2px;}
.reg_box .box4{width:294px;height:20px;line-height:20px;margin-top:10px;overflow:hidden;position:relative;}
.reg_box .box4 label{float:left;}

.after_login .afterbox{}
.afterbox .onebox{width:237px;overflow:hidden;}
.afterbox .onebox .leftbox{float:left;}
.afterbox .onebox .box4{float:left;}
.afterbox .onebox .leftbox p,.afterbox .onebox .box4 p{height:25px;line-height:25px;font-size:14px;color:#fff;}
.afterbox .onebox .box4 .zhzx a{display:block;font-size:16px;color:#fff;}
.afterbox .onebox .box4 .zhzx a:hover,.afterbox .twobox .leftbox a:hover,.afterbox .twobox .rightbox a:hover{color:#e50012;}
.afterbox .twobox{overflow:hidden;padding-top:10px;}
.afterbox .twobox .leftbox,.afterbox .twobox .rightbox{float:left;}
.afterbox .twobox .leftbox{background:url(../img/after_login1.png) center left no-repeat;_background:url(../img/after_login1_8.png) center left no-repeat;width:120px;height:20px;}
.afterbox .twobox .rightbox{background:url(../img/after_login2.png) center left no-repeat;_background:url(../img/after_login2_8.png) center left no-repeat;height:20px;}
.afterbox .twobox .leftbox a,.afterbox .twobox .rightbox a{padding-left:30px;font-size:14px;color:#fff;lineheight:20px;}

.zcbox{width:100%;padding:40px 0 40px 0;}
.zcbox .mainbox,.zhmm .mainbox{width:1200px;overflow:hidden;margin:0 auto;background:#fff;}
.zcbox .mainbox .onebox,.zcbox .mainbox .topbox,.zhmm .mainbox .onebox{width:850px;overflow:hidden;margin:0 auto;font-size:14px;color:#777;background:#fff;}
.zcbox .mainbox .onebox input,.zhmm .mainbox .onebox input{display:block;width:270px;height:24px;padding:6px 10px;border:1px solid #e6e6e6;background:#fff;float:left;}
.zcbox .mainbox .onebox dl,.zcbox .mainbox .topbox dl,.zhmm .mainbox .onebox dl{width:850px;height:40px;overflow:hidden;margin-bottom:15px;line-height:36px;}
.zcbox .mainbox .onebox dt,.zcbox .mainbox .topbox dt,.zhmm .mainbox .onebox dt{width:185px;float:left;text-align:right;}
.zcbox .mainbox .onebox dd,.zhmm .mainbox .onebox dd{width:500px;height:40px;float:left;}
.zcbox .mainbox .onebox dd span,.zhmm .mainbox .onebox dd span{display:block;margin-left:10px;float:left;}
.zcbox .mainbox .topbox .up{display:block;width:18px;height:18px;margin:11px 10px 11px 0;background:url(../img/button_off.png) no-repeat center center;float:left;}
.zcbox .mainbox .topbox p{line-height:40px;}
.zcbox .mainbox .topbox .up:hover{background:url(../img/button_on.png) no-repeat center center;}
.zcbox .mainbox .topbox dd{width:150px;height:40px;float:left;}
.zcbox .mainbox .topbox .title_24{margin-left:176px;;color:#ed0012;}
.zcbox .mainbox .tijiao,.zhmm .mainbox .tijiao{width:850px;height:36px;margin:0 auto;padding-top:20px;}
.zcbox .mainbox .tijiao input,.zhmm .mainbox .tijiao input{display:block;width:300px;height:36px;margin:0 auto;border:none;font-size:16px;font-family:"Microsoft Yahei";color:#fff;background:#87cb36;}
.zcbox .mainbox .onebox .title_23{padding-bottom:20px;}
.zcbox .mainbox .onebox1{border-top:1px dotted #777;padding-top:30px;}
.zcbox .mainbox .onebox textarea{resize:none;border:1px solid #dedede;}

.onebox dl,.zcbox .mainbox .topbox dl,.zhmm .mainbox .onebox dl{width:100%;height:30px;overflow:hidden;margin-bottom:5px;line-height:36px;}
.onebox dt,.zcbox .mainbox .topbox dt,.zhmm .mainbox .onebox dt{width:85px;float:left;text-align:right;}
.onebox dd,.zhmm .mainbox .onebox dd{width:60%;height:30px;float:left;}
.tijiao,.zhmm .mainbox .tijiao{width:60%;height:36px;padding-top:20px;}
.tijiao input,.zhmm .mainbox .tijiao input{display:block;width:300px;height:36px;margin:0 auto;border:none;font-size:16px;font-family:"Microsoft Yahei";color:#fff;background:#87cb36;}

.container{width:100%;background:#f5f5f5;padding:30px 0 30px 0;}
.container .main_1200{width:1200px;margin:0 auto;overflow:hidden;background:#fff;border:1px #dedede solid;}
.container .main_1200 .xc_leftbox{width:240px;overflow:hidden;float:left;}
.container .main_1200 .xc_leftbox .top_picture{padding:18px 18px 0px 18px;}
.container .main_1200 .xc_leftbox .xc_title{margin-left:20px;margin-right:20px;overflow:hidden;}
.container .main_1200 .xc_leftbox .xc_title li{width:200px;height:50px;line-height:50px;font-family:"Microsoft Yahei";font-size:1.4em;border-bottom:1px #cccccc dotted;float:left;}
.container .main_1200 .xc_leftbox .xc_title a{overflow:hidden;padding:0 37px;color:#999;text-decoration:none;display:block;background-image:url(../img/lmgg_up.png);background-repeat:no-repeat;background-position:right center;}
.container .main_1200 .xc_leftbox .xc_title a.on{color:#e50012;background-image:url(../img/lmgg_on.png);}
.container .main_1200 .xc_leftbox .xc_title a:hover{color:#e95c15;text-decoration:none;background-image:url(../img/lmgg_on.png);}
.container .main_1200 .xc_rightbox{width:878px;min-height:720px;_min-height:720px;float:right;border-left:1px #dedede solid;padding:0px 36px 0 36px;}
.container .main_1200 .xc_rightbox .right_top{width:777px;margin:0 auto;border-bottom:1px #dedede solid;}
.container .main_1200 .xc_rightbox .right_top img{margin-bottom:8px;}

/* .container .main_1200 .xc_rightbox .mainbox{width:777px;margin:0 auto;padding:0 40px 0 40px;margin-bottom:40px;background:#fff;overflow:hidden;} */
.container .main_1200 .xc_rightbox ul{height:25px;margin-top:20px;padding-bottom:10px;border-bottom:1px solid #e3e3e3;}
.container .main_1200 .xc_rightbox ul b{height:25px;padding-left:25px;background:url(../img/flsm_title.png) center left no-repeat;font-size:16px;line-height:25px;float:left;}

.leshu_table { /*float:left;*/ width:900px;overflow:hidden; padding:15px 0 0 0;color:#5d5d5d;}
.leshu_table table { float:left; border:1px solid #d4d4d4; border-bottom:none;; border-left:none;padding-bottom:40px;}
.leshu_table td { line-height:35px; border-bottom:1px solid #d4d4d4; border-left:1px solid #d4d4d4; text-align:center;margin:0 auto;}
.leshu_table .red{color:#e50012;}
.leshu_table td a {color:#e95c15;cursor: pointer;}
.leshu_table .title {text-align:center;background:#fafafa; color:#5d5d5d;border-bottom:1px solid #d4d4d4;}
.leshu_table .title td { border-bottom:none; line-height:31px; padding-bottom:3px;}

input.error { border: 1px solid red; }

label.error {
  padding-left: 16px;
  padding-bottom: 2px;
  font-weight: bold;
  color: #EA5200;
}